
*.vsidx
*.lock
.vs/DawnOfTheRats/v17/.suo
*.db
*.ipch
*.obj
*.obj
*.ilk
*.tlog
*.tlog
*.idb
x64/Debug/vc143.pdb
x64/Debug/vc143.idb
x64/Debug/MainMenu.obj
x64/Debug/Game.obj
x64/Debug/DawnOfTheRats.tlog/link.write.1.tlog
x64/Debug/DawnOfTheRats.tlog/link.read.1.tlog
x64/Debug/DawnOfTheRats.tlog/link.command.1.tlog
x64/Debug/DawnOfTheRats.tlog/CL.write.1.tlog
x64/Debug/DawnOfTheRats.tlog/CL.read.1.tlog
x64/Debug/DawnOfTheRats.tlog/CL.command.1.tlog
x64/Debug/DawnOfTheRats.pdb
x64/Debug/DawnOfTheRats.obj
x64/Debug/DawnOfTheRats.log
x64/Debug/DawnOfTheRats.ilk
*.obj
*.obj
