
*.vsidx
*.lock
.vs/DawnOfTheRats/v17/.suo
*.db
*.ipch
*.obj
*.obj
*.ilk
*.tlog
*.tlog
*.idb
x64/Debug/vc143.pdb
x64/Debug/vc143.idb
x64/Debug/MainMenu.obj
x64/Debug/Game.obj
x64/Debug/DawnOfTheRats.tlog/link.write.1.tlog
x64/Debug/DawnOfTheRats.tlog/link.read.1.tlog
x64/Debug/DawnOfTheRats.tlog/link.command.1.tlog
x64/Debug/DawnOfTheRats.tlog/CL.write.1.tlog
x64/Debug/DawnOfTheRats.tlog/CL.read.1.tlog
x64/Debug/DawnOfTheRats.tlog/CL.command.1.tlog
x64/Debug/DawnOfTheRats.pdb
x64/Debug/DawnOfTheRats.obj
x64/Debug/DawnOfTheRats.log
x64/Debug/DawnOfTheRats.ilk
*.obj
*.obj
DawnOfTheRats.smproj
x64/Debug/AnimationHandler.obj
x64/Debug/Button.obj
x64/Debug/DawnOfTheRats.exe
x64/Debug/DawnOfTheRats.ilk
x64/Debug/DawnOfTheRats.log
x64/Debug/DawnOfTheRats.obj
x64/Debug/DawnOfTheRats.pdb
x64/Debug/DawnOfTheRats.tlog/CL.command.1.tlog
x64/Debug/DawnOfTheRats.tlog/CL.read.1.tlog
x64/Debug/DawnOfTheRats.tlog/CL.write.1.tlog
x64/Debug/DawnOfTheRats.tlog/link.command.1.tlog
x64/Debug/DawnOfTheRats.tlog/link.read.1.tlog
x64/Debug/DawnOfTheRats.tlog/link.write.1.tlog
x64/Debug/Game.obj
x64/Debug/MainMenu.obj
x64/Debug/vc143.idb
x64/Debug/vc143.pdb
x64/Release/DawnOfTheRats.exe
x64/Release/DawnOfTheRats.exe.recipe
x64/Release/DawnOfTheRats.iobj
x64/Release/DawnOfTheRats.ipdb
x64/Release/DawnOfTheRats.log
x64/Release/DawnOfTheRats.pdb
x64/Release/DawnOfTheRats.vcxproj.FileListAbsolute.txt
x64/Release/SoundManager.h.ifc
x64/Release/SoundManager.h.ifc.d.json
x64/Release/soundmanager.h.module.json
x64/Release/SoundManager.h_6F299FBE1CE77071.ifc.dt.d.json
x64/Release/SoundManager.h_6F299FBE1CE77071.ifc.dt.module.json
x64/Release/SoundManager.h_6F299FBE1CE77071.ifc.dt.module.json.command
x64/Release/vc143.pdb
x64/Release/vcpkg.applocal.log
x64/Debug/AnimationHandler.obj
x64/Debug/Button.obj
x64/Debug/DawnOfTheRats.exe
x64/Debug/DawnOfTheRats.ilk
x64/Debug/DawnOfTheRats.log
x64/Debug/DawnOfTheRats.obj
x64/Debug/DawnOfTheRats.pdb
x64/Debug/DawnOfTheRats.tlog/CL.command.1.tlog
x64/Debug/DawnOfTheRats.tlog/CL.read.1.tlog
x64/Debug/DawnOfTheRats.tlog/CL.write.1.tlog
x64/Debug/DawnOfTheRats.tlog/link.command.1.tlog
x64/Debug/DawnOfTheRats.tlog/link.read.1.tlog
x64/Debug/DawnOfTheRats.tlog/link.write.1.tlog
x64/Debug/Game.obj
x64/Debug/MainMenu.obj
x64/Debug/vc143.idb
x64/Debug/vc143.pdb
